# Data files (too large for git)
data/raw/
data/processed/
*.csv
*.parquet

# Environment
.env
venv/
__pycache__/
*.pyc

# Docker
pgdata/

# IDE
.vscode/
.idea/

.favorita-grocery-sales-forecasting.zip
etl/.env
*.zip
etl/.venv
etl/.venv/
api/.venv/
frontend/node_modules/
